.wrapper
  width 100%
  .wrap
    width 1300px
    margin 0 auto
  .header
    height 90px
    line-height 90px
    .logo
      float left
      img
        vertical-align middle
    .nav
      float right
      li
        float left
        padding-left 45px
        font-size 21px
      li:hover a, .active a
        color #ff4a00
  .banner
    height 797px
    .swiper-container
      width 100%
      height 100%
    .swiper-slide
      text-align: center
      font-size: 18px
      background: #fff
      /* Center slide text vertically */
      display: -webkit-box
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-box-pack: center
      -ms-flex-pack: center
      -webkit-justify-content: center
      justify-content: center
      -webkit-box-align: center
      -ms-flex-align: center
      -webkit-align-items: center
      align-items: center
  .footer
    padding 23px 0
    background #202020
    .left-footer
      float left
      .title-footer
        padding 20px 0
        font-size 28px
        color #ffffff
        line-height 1
      .tel-footer
        padding-bottom 30px
        line-height 1
        font-family Impact
        font-size 38px
        color #ff6600
    .right-footer
      float right
      padding 16px 49px 39px 35px
      background #2f2f2f
      input
        display inline-block
        border 0
        outline none
        background #ffffff
        height 52px
        padding 0 20px
      .two-input
        input
          width 225px
          &:first-child
            margin-right 40px
      .title-checkbox
        padding 24px 0 0 0
        line-height 1
        font-size 19px
        color #ffffff
      .two-checkbox
        div
          float left
          width 200px
          font-size 17px
          color #ffffff
          line-height 52px
          input
            display block
            float left
            margin-right 8px
      .single-input
        margin-bottom 23px
        input
          width 530px
      .two-button
        input
          width 265px
          font-size 21px
          color #ffffff
          background #ff6600
        a
          display inline-block
          width 265px
          height 52px
          margin-left 15px
          line-height 52px
          text-align center
          font-size 21px
          color #ffffff
          background #ff0012

.endss
  background: #0c0c0c;
  color: #ffffff;
  line-height: 55px;
  height: 55px;
  text-align: center;
